{% if page.header.slider and config.plugins.taxonomylist.enabled %}
  <!-- Get all posts tag for caroussel -->
  {% set limit = (config.themes.bootflat.slider.limit) ? config.themes.bootflat.slider.limit : 5 %}
  {% set posts = taxonomy.findTaxonomy({'tag':['highlight']})|reverse|slice(0, limit) %}
  <div class="top-caroussel">
    <div id="carousel-highlight" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          {% for post in posts %}
            <li data-target="#carousel-highlight" data-slide-to="{{ loop.index }}" {% if loop.index == '1' %}class='active'{% else %}class=''{% endif %}></li>
          {% endfor %}
        </ol>
        <div class="carousel-inner">
          {% for post in posts %}
          {% set firstImage = post.media.images|first %}
            <div class="item {% if loop.index == "1" %}active{% endif %}">
              <a href="{{ post.url }}">
                <img src="{{ firstImage.url }}" style="width:100%;" />
                <div class="carousel-caption">
                  <h4>{{ post.title }}</h4>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
        <a class="left carousel-control" href="#carousel-highlight" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-highlight" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
{% endif %}
