<header class='is-fixed'>
  <a id="cd-logo" href="/"><img src="/user/themes/grav-theme-bootflat/img/logo.png" alt="Homepage"></a>
  <nav id="cd-top-nav">
    <ul>
      <li><a href="/">{{site.title}}</a></li>
    </ul>
  </nav>
  <a id="cd-menu-trigger" href="#0"><span class="cd-menu-text"></span><span class="cd-menu-icon"></span></a>
</header>
